@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

li {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

li, a, button {
  transition: all 300ms ease;
}

svg path {
  transition: all 300ms ease;
}

.container {
  padding: 0 8rem;
}

.btn-circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.btn-small {
  padding: 1rem 2rem;
}

.btn-large {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 5rem;
  border-radius: 12px;
  color: hsl(0, 0%, 100%);
  font-size: 0.95rem;
}

.ico-left {
  margin-right: 0.5rem;
}

.page-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px calc(100% - 100px);
  grid-template-areas: "navigation" "content";
  height: 100%;
}
.page-grid .navigation {
  grid-area: navigation;
}
.page-grid .content {
  grid-area: content;
}

.navigation {
  display: grid;
  grid-auto-flow: column;
  border-bottom: 1px solid hsl(223, 64%, 98%);
}
.navigation .nav-left {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  column-gap: 2.5rem;
}
.navigation .nav-left .link {
  height: 100%;
  position: relative;
}
.navigation .nav-left .link a {
  font-size: 0.8rem;
  font-weight: 500;
  color: hsl(219, 9%, 45%);
  height: 100%;
  display: flex;
  align-items: center;
}
.navigation .nav-left .link::after, .navigation .nav-left .link::before {
  display: block;
  content: "";
  width: 0%;
  height: 2px;
  background-color: hsl(26, 100%, 55%);
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all 300ms ease;
}
.navigation .nav-left .link::after {
  left: 0;
}
.navigation .nav-left .link::before {
  right: 0;
}
.navigation .nav-left .link:hover::after, .navigation .nav-left .link:hover::before {
  width: 50%;
  opacity: 1;
}
.navigation .nav-left .link:hover a {
  color: hsl(220, 13%, 13%);
}
.navigation .nav-left .link.active-link::after, .navigation .nav-left .link.active-link::before {
  width: 50%;
  opacity: 1;
}
.navigation .nav-left .link.active-link a {
  color: hsl(220, 13%, 13%);
}
.navigation .nav-right {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  column-gap: 2.5rem;
}
.navigation .nav-right .svg:hover .ico-cart {
  fill: hsl(0, 0%, 0%);
}
.navigation .nav-right .btn-user-avatar {
  border-radius: 100px;
  border: 3px solid transparent;
}
.navigation .nav-right .btn-user-avatar .avatar {
  width: 100%;
}
.navigation .nav-right .btn-user-avatar:hover {
  border: 3px solid hsl(26, 100%, 55%);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "col-one col-two";
}
.product-grid .col-one {
  grid-area: col-one;
}
.product-grid .col-one .slider {
  display: grid;
  grid-template-columns: 450px;
  place-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 0.6rem;
  height: 100%;
}
.product-grid .col-one .slider .slider-image-active {
  width: 100%;
  border-radius: 20px;
}
.product-grid .col-one .slider .slider-images {
  display: grid;
  place-content: space-between;
  grid-auto-flow: column;
  overflow: hidden;
  width: 100%;
}
.product-grid .col-one .slider .slider-images .slider-image {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
.product-grid .col-two {
  grid-area: col-two;
}
.product-grid .col-two .product-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-grid .col-two .product-content .category {
  font-size: 0.95rem;
  font-weight: 600;
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  margin-bottom: 0.85rem;
}
.product-grid .col-two .product-content .title {
  font-size: 2.8rem;
  line-height: 0.95;
  margin-bottom: 2.5rem;
}
.product-grid .col-two .product-content .description {
  width: 60%;
  font-size: 0.95rem;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
  line-height: 1.7;
}
.product-grid .col-two .product-content .product-price {
  margin-top: 1.6rem;
}
.product-grid .col-two .product-content .product-price .prices {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}
.product-grid .col-two .product-content .product-price .prices .new-price {
  font-size: 1.8rem;
  font-weight: 700;
}
.product-grid .col-two .product-content .product-price .prices .discount {
  font-size: 0.8rem;
  font-weight: 600;
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  margin-left: 0.75rem;
  padding: 0.2rem 0.5rem;
  border-radius: 6px;
}
.product-grid .col-two .product-content .product-price .old-price {
  font-size: 0.95rem;
  font-weight: 500;
  color: hsl(219, 9%, 45%);
  text-decoration: line-through;
}
.product-grid .col-two .product-content .controls-group {
  display: flex;
  margin-top: 1.6rem;
}
.product-grid .col-two .product-content .controls-group .buttons-group {
  background-color: hsl(223, 64%, 98%);
  border-radius: 12px;
}
.product-grid .col-two .product-content .controls-group .buttons-group .btn-decrease, .product-grid .col-two .product-content .controls-group .buttons-group .btn-increase {
  color: hsl(26, 100%, 55%);
  font-weight: 500;
  font-size: 0.95rem;
}
.product-grid .col-two .product-content .controls-group .buttons-group .quantity {
  font-weight: 500;
}
.product-grid .col-two .product-content .controls-group .btn-cart {
  background-color: hsl(26, 100%, 55%);
  margin-left: 1rem;
}
.product-grid .col-two .product-content .controls-group .btn-cart .ico-cart {
  fill: hsl(0, 0%, 100%);
}/*# sourceMappingURL=product.css.map */